[Unit]
Description=buckets

[Service]
Type=forking
ExecStart=/home/$USER/cloud-install/direct/linkear_buckets.sh
WorkingDirectory=/home/$USER/
User=$USER
Group=$USER

[Install]
WantedBy=default.target
